Django==1.6.5
Pillow==2.4.0
Pmw==2.0.0
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.0
preppy
psycopg2==2.5.3
pyRXP
reportlab
static3==0.5.1
wsgiref==0.1.2
