








{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	
	<head>
		
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/jquery.mobile-1.4.2.min.css" >
		
		<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js" type = "text/javascript"></script>
		<script src="{{STATIC_URL}}js/jquery.mobile-1.4.2.min.js" type = "text/javascript"></script>	
	
	</head>
	
	<body>
	
	</body>

</html>
