{% extends "base.html" %}
{%block contents%}

<!-- home page -->
<div data-role = "page" id = "home">
	<div data-role = "header" data-position = "fixed">
		<a href = "#" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "#" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-lock ui-btn-icon-left">login</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
		
		<ul data-role = "listview" data-inset = "true">
			<li><a href = "#aboutus">About MobileTz</a></li>		
			<li><a href = "#ourproducts">Our products</a></li>		
			<li><a href = "#conctactus" >Conctact us</a></li>		
		</ul>
	
	</div>
	
	<div data-role = "footer" data-position = "fixed"><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>



<!---   our products page---->
<div data-role = "page" id = "ourproducts">
	<div data-role = "header" data-position = "fixed">
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "#" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-lock ui-btn-icon-left">login</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
		Brand for all phones avilable
		<ul data-role = "listview" data-inset = "true" data-filter = "true">
			
			{% for phone in allPhones %}
			<li><a href = "#phone{{phone.id}}">{{phone.brand_of_Phone}}</a></li>
			{% endfor %}
			
		</ul>
	
	</div>
	
	<div data-role = "footer" ><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>



<!--- single product --->
{% for phone in allPhones %}
<div data-role = "page" id = "phone{{phone.id}}">
	<div data-role = "header" data-position = "fixed">
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "#" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-lock ui-btn-icon-left">login</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
		<a href = "#ourproducts" class="ui-btn  ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left">Back to brands</a>
		<div class = "ui-corner-all ui-shadow" style = "padding-left:2%;">
			<p>  {{phone}}</p>
			
			
			<div data-role = "collapsible">
				<h1>Gallery</h1>
				{% if phone.phone_gallery_set.all %} 
				{% for image in phone.phone_gallery_set.all %}				
				<a href = "#image{{image.id}}" ><img style = "border-radius: 10px;height:100px" src = "{{ image.image.url }}" width = "50%"  /></a>			
				{% endfor %}
				{% else %} 
				<p>No image add for this phone</p>
				{% endif %}
			</div>
		</div>
	
	</div>
	
	<div data-role = "footer" ><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>
{% endfor %}



<!--- image viewing ---->
{% for image in allImages %}
<div data-role = "page" data-dialog = "true" id = "image{{image.id}}">	
	<div data-role="header">
		<h1></h1>
	  </div>
	<div data-role = "main" class = "ui-content">
		<img style = "border-radius: 10px;" src = "{{ image.image.url }}" width = "100%" height = ""/>
	</div>
		
</div>
{% endfor %}




<!---   about us page---->
<div data-role = "page" id = "aboutus">
	<div data-role = "header" data-position = "fixed">
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "#" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-lock ui-btn-icon-left">login</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
				
			<div data-role = "collapsible">
				<h5>Who we are?</h5>
				<p>
					
					<img style = "border-radius: 10px;" src = "{{STATIC_URL}}img/connect.jpg" width = "100%" height = "80px" />	
					MobileTz is system acts as customer and mobile dealer connectors.	
					We are here to connect our mobile phones dealer in Tz with customers 
				</p>		 				
			</div>
			
			<div data-role = "collapsible">
				<h1>Services we provide</h1>
				Our  services depend on who you are?
				<div data-role = "collapsible">
					<h1>Customers</h1>
					<p>
						We help you to buy mobiles phones by directly connect you to dealer upon selection of the product
					</p>
				</div>
				<div data-role = "collapsible">
					<h1>Mobile phone dealers</h1>
					<p>
						We offer an account where you can manage your mobiles phones you have and immediately being avilable in our store ready for customer to view
					</p>
				</div>
			</div>
			<div data-role = "collapsible">
				<h1>Who is the Developer?</h1>
				<p><img style = "border-radius: 10px;" src = "{{STATIC_URL}}img/developer.png" width = "100%" height = "200px" />
				Mr Joseph chingalo, currently studing B.Sc with computer science at The University of Dar-es-salaam
				</p>
			</div>		
	</div>
	
	<div data-role = "footer" ><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>




<!-- conctact us page ---->
<div data-role = "page" id = "conctactus" ui-theme = "a">
	<div data-role = "header" data-position = "fixed">
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "#" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-lock ui-btn-icon-left">login</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
					
	</div>
	
	<div data-role = "footer"><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>


{%endblock%}
