{% extends "base.html" %}
{%block contents%}

<!-- login user home --->
{% if loginDealer.login_status == "login" %}
<div data-role = "page" id = "loginHome"  data-theme = "d">
	<div data-role = "header" data-position = "fixed">
		<a href = "#loginHome" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		<a href = "{% url 'logout' loginDealer.id %}" data-ajax = "false" class = "ui-btn ui-btn-left  ui-corner-all ui-shadow ui-icon-info ui-btn-icon-left">log out</a>
		<h5>MobileTz</h5>			
	</div>	
	
	<div data-role = "main" class = "ui-content">
		<a href = "/{{loginDealer.id}}/myStore/" data-ajax="false" class="ui-btn  ui-corner-all ui-shadow ui-icon-shop ui-btn-icon-left">My store</a>
		<a href = "{% url 'productManagement' loginDealer.id %}" data-ajax="false" class="ui-btn  ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left" >Product Management</a>
		<a href = "{% url 'accountManagement' loginDealer.id %}" data-ajax="false"  class="ui-btn  ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left">Account managements</a>
    </div>
	
	<div data-role = "footer" data-position = "fixed"><br>
		<h4>&copy; {% now " Y" %}</h4><br>
	</div>
</div>
<!-- for non login dealer -->
{% else %}
<div data-role="page"  data-url "/"  id = "login" data-theme = "d" data-dialog = "true">
	<div data-role = "header" >
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		
		<h5>MobileTz</h5>			
	</div>	
	<div data-role = "main" class = "ui-content">
		<form action ="/login" method = "POST">
			{% csrf_token %}
			<input type = "text" name = "username"  id = "" placeholder = "User name">
			<input type = "password" name = "password"  id = "password" placeholder = "Password" onpaste="return false;">
			<input type = "submit" value = "submit">
		</form>						
	</div>
	
</div>

{% endif %}


{%endblock%}
