{% extends "base.html" %}
{%block contents%}

<div data-role="page"  data-url "/"  id = "login" data-theme = "d" data-dialog = "true">
	<div data-role = "header" >
		<a href = "#home" class = "ui-btn ui-btn-right  ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>
		
		<h5>MobileTz</h5>			
	</div>	
	<div data-role = "main" class = "ui-content">
		<form action ="/login" method = "POST">
			{% csrf_token %}
			<input type = "text" name = "username" id = "" value = "{{username}}">
			<input type = "password" name = "password" id = "password" placeholder = "Password" onpaste="return false;">
			<input type = "submit" value = "submit">
		</form>						
	</div>
	
</div>
{%endblock%}
